!!! html
%html
  %head
    %title Video Conference
    %link(href='/stylesheets/app.css' rel='stylesheet' type='text/css')
    
    %script(src='/javascripts/vendor/jquery.js' type='text/javascript')
    %script(src='/javascripts/vendor/adapter.js' type='text/javascript')
    %script(src='/javascripts/vendor/angular.js' type='text/javascript')

    %script(src='/faye/faye/faye.js' type='text/javascript')

    %script(src='/javascripts/app.js' type='text/javascript')
    - %w(channel user_media signaler messages peer_connection peer_connection_config peer_connector).each do |jsfile|
      %script(src="/javascripts/#{jsfile}.js" type='text/javascript')
  %body
    %h1 Video Conference
    = yield
