.container(ng-app='video_conference' ng-controller='MainCtrl')
  #local-video
    %video(ng-if='url' muted='muted' autoplay='autoplay' ng-src='{{url}}')
    %p(ng-if='errorMessage') {{errorMessage}}
  #remote-videos
    .remote-video
      %video(ng-repeat='streamUrl in streamUrls' autoplay='autoplay' controls='controls' ng-src='{{streamUrl}}')
